footer.footer.body__footer
  .wrapper
    .footer__inner
      section.footer-nav.footer__footer-nav
        ul.footer-nav-list
          li.footer-nav-list__link
            +listItem('footer-nav-list__item', 'Главная')
          li.footer-nav-list__link
            +listItem('footer-nav-list__item', 'Дилерам')
          li.footer-nav-list__link
            +listItem('footer-nav-list__item', 'О компании')
          li.footer-nav-list__link
            +listItem('footer-nav-list__item', 'Сервис-центры')
          li.footer-nav-list__link
            +listItem('footer-nav-list__item', 'Акции')
          li.footer-nav-list__link
            +listItem('footer-nav-list__item', 'Контакты')
          li.footer-nav-list__link.footer-nav-list__link_last
            +listItem('footer-nav-list__item', 'Инструкция')

      section.phone-wholesale.footer__phone-wholesale
        span.phone-wholesale__title Оптовые&nbsp;продажи:
        a.phone-wholesale__link(href='tel:+375291761767') +375 29 176-176-7
        a.phone-wholesale__link(href='tel:+375296202045') +375 29 620-20-45
        a.phone-wholesale__link(href='tel:+375445552084') +375 44 555-20-84

      section.phone-accounting.footer__phone-accounting
        span.phone-accounting__title Бухгалтерия
        a.phone-accounting__link(href='tel:+375172244002') +375 17 224-40-02

      section.phone-sale.footer__phone-sale
        span.phone-sale__title Отдел&nbsp;продаж
        a.phone-sale__link(href='tel:+375172244001') +375 17 224-40-01

      section.copyright.footer__copyright
        span СИБ-инструмент<br> © 2017 
        br
        span Информация, представленная на сайте не является договором публичной оферты.
