extends layouts/main-no-login.pug

block variables
  - var pageTitle = 'Страница со схемой';
  - var scriptSrc = 'js/script.js';
  - var link = 'css/styles.css';
  - 
    var tableDataArray = [
      {number: 'A1', article: '394114605', name: 'Tank kpl. mit Mechanik, blau', dropdown: 'Аналоги', storage: '1', price: true},
      {number: 'A2', article: '957117020', name: 'Gasmechanik kpl.', dropdown: '', storage: '2', price: true},
      {number: 'A3', article: '394114605', name: 'Schraubeinsatz', dropdown: '', storage: '', price: false},
      {number: 'A4', article: '957117020', name: 'Halbgasarretierung kpl.', dropdown: '', storage: '> 10', price: true},
    ];

block content
  .content
    main.main.content__main
      .wrapper
        //- Product section
        section.product-section
          .breadcrumb.product-section__breadcrumb
            a.breadcrumb__item(href='#') Главная
            a.breadcrumb__item(href='#') Поиск&nbsp;запчастей&nbsp;по&nbsp;каталогу
            a.breadcrumb__item(href='#') BOSCH
          
          //- Scheme block
          .scheme-container
            .scheme-container__scheme
              .scheme-box
                .scheme-box__header DPC 8132
                .scheme-box__inner
                  .scheme_img
                    img(src='images/scheme.jpg', alt='Схема')
            
            //- Scheme block description with table
            .scheme-container__description
              table.scheme-table
                tr.scheme-table__header
                  th 
                    h6.h6 №
                  th 
                    h6.h6 Артикул
                  th 
                    h6.h6 Наименование
                  th(colspan='2')
                    h6.h6 Склад
                  th(colspan='2') 
                    h6.h6 Цена
                +createTableItem(tableDataArray)
                +createTableItem(tableDataArray)
                +createTableItem(tableDataArray)

                tr.scheme-table__header
                  th(colspan='7')
                    h6.h6 Лист В
                +createTableItem(tableDataArray)
                +createTableItem(tableDataArray)
                +createTableItem(tableDataArray)
                +createTableItem(tableDataArray)

block scripts
  script(src=scriptSrc)
