include ../modules/mixins.pug
block variables

doctype html
html(lang='en')
  head
    title= pageTitle
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href=link)
    link(rel='stylesheet', href='lib/fancybox/jquery.fancybox.min.css')
    link(rel='stylesheet', href='lib/easyZoom/easyzoom.js')

  body.body
    include ../svg.html
    include ../modules/header.pug
    block content
    include ../modules/footer.pug
    block scripts
      script(src='lib/jquery-3.4.1.min.js')
      script(src= 'js/slider.js')
      script(src= 'lib/fancybox/jquery.fancybox.min.js')
      script(src= 'lib/easyZoom/easyzoom.js')
      script(src= scriptSrc)
