include ../modules/mixins.pug
block variables

doctype html
html(lang='en')
  head
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    title= pageTitle
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href=linkMinCss)
    link(rel='stylesheet', href='lib/fancybox/jquery.fancybox.min.css')
    link(rel='stylesheet', href='lib/easyZoom/easyzoom.css')

  body.body
    include ../svg.html
    include ../modules/header-no-login.pug
    block content
    include ../modules/footer.pug
    block scripts
      <script src="https://api-maps.yandex.ru/2.1/?apikey=b22e556f-9495-47ec-982f-f5c814cf72e6&lang=ru_RU" type="text/javascript"></script>
      script(src='lib/jquery-3.4.1.min.js')
      script(src= 'lib/fancybox/jquery.fancybox.min.js')
      script(src= 'lib/easyZoom/easyzoom.js')
      script(src= scriptSrc)
      include ../yandexMap.html
